* {
    margin: 0;
    padding: 0;
}

canvas {
    background: black;
    width: 100vw;
    height: 100vh;
    display: block;
}

.endbar {
    display: flex;
    justify-content: flex-start;
    margin: 2px;
}

.col {
    margin: 2px 4px 2px 4px;
}

#color {
    background: black;
    width: 100px;
    height: 100px;
}